.popup__input-error {
  font-size: 12px;
  color: #FF0000;
  font-weight: 400;
  font-family: 'Inter';
  margin: 0 0 13px 0;
  visibility: hidden;
  width: 350px;
  white-space: break-spaces;
  min-height: 30px;
}
