.profile {
    padding: 40px 0px 50px;
    display: flex;
    max-width: 880px;
    margin: auto;
    max-height: 120px;
    align-items: center;
    justify-content: space-between;
}
@media screen and (max-width: 1024px) {
    .profile {
        flex-direction: column;
        max-height: none; /* 286px */
        max-width: 282px;
        padding: 42px 0px 0px;
        gap: 36px;
    }
}
