.profile__image {
  position: relative;
    border-radius: 120px;
    width: 120px;
    height: 120px;
    object-fit: cover;
    cursor: pointer;
    z-index: -1;
}
@media screen and (max-width: 1024px) {
    .profile__image {
        margin: 0;
    }
}
