.profile__add-button {
    width: 150px;
    min-height: 50px;
    border: 2px solid #FFFFFF;
    border-radius: 2px;
    background: url(../../../images/plus.svg) no-repeat center center;

}
.profile__add-button:hover {
    cursor: pointer;
    opacity: 0.6;
}
@media screen and (max-width: 1024px) {
    .profile__add-button {
        width: 100%;
        background-size: 16px 16px;
    }
}
