.authorization__input {
  background: none;
  border: 0;
  padding: 0 0 9px;
  border-bottom: 1px solid #CCCCCC;
  font-size: 14px;
  line-height: 17px;
  font-weight: 400;
  font-family: 'Inter', Arial, sans-serif;
  color: #CCCCCC;
  outline: none;
}
